{% extends "admin/base.html" %}
{% block content %}
    <h1 class="content-title font-size-22">
        Edit {{ item.title }}
    </h1>
    <div class="content-body">
        <form action="{{ url_for('admin.navbar_items.edit', id=item.id) }}" method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ item.title }}">
            </div>
            <div class="form-group">
                <div class="custom-switch">
                    <input type="checkbox" id="custom_url_enabled" name="custom_url_enabled"
                            {% if item.custom_url_enabled %} checked{% endif %}>
                    <label for="custom_url_enabled">Link to custom URL instead of page</label>
                </div>
            </div>
            <div class="form-group">
                <label for="custom_url">Custom URL</label>
                <input type="text" class="form-control" id="custom_url" name="custom_url"
                       value="{{ item.custom_url }}">
            </div>
            <div class="form-group">
                <label for="page">Page</label>
                <select class="form-control" id="page_id" name="page_id">
                    <option value="">Select a page</option>
                    {% for page in pages %}
                        <option value="{{ page.id }}"{% if item.page_id == page.id %}
                                selected{% endif %}>{{ page.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="index">Index (Position)</label>
                <input type="number" class="form-control" id="index" name="index" value="{{ item.position_index }}">
            </div>
            <div class="form-group">
                <label for="parent">Parent</label>
                <select class="form-control" id="parent" name="parent">
                    <option value="0">None</option>
                    {% for item in navbar_items %}
                        <option value="{{ item.id }}"{% if item.id == item.parent %}
                                selected{% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
