{% extends "admin/base.html" %}
{% block content %}
    <h1 class="content-title font-size-22"> <!-- font-size-22 = font-size: 2.2rem (22px) -->
        Navigation Bar Items
    </h1>
    <a href="{{ url_for('admin.navbar_items.edit', id="new") }}" class="btn btn-success" type="button">Create New
        Navigation Bar Item</a>
    <br><br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Custom URL</th>
            <th>Page</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th>{{ item.id }}</th>
                <td>{{ item.title }}</td>
                <td>{% if not item.custom_url_enabled %}Disabled{% else %}{{ item.custom_url }}{% endif %}</td>
                <td>{{ item.page.name }}</td>
                <td class="text-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ url_for("admin.navbar_items.edit", id=item.id) }}" class="btn" type="button">Edit</a>
                        <a href="{{ url_for("admin.navbar_items.delete", id=item.id) }}" class="btn btn-danger" type="button">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
