{% extends "admin/base.html" %}
{% block content %}
    <h1 class="content-title font-size-22"> <!-- font-size-22 = font-size: 2.2rem (22px) -->
        Pages
    </h1>
    <a href="{{ url_for('admin.pages.edit', id="new") }}" class="btn btn-success" type="button">Create New Page</a>
    <br><br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Include Blog</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <th>{{ page.id }}</th>
                <td>{{ page.name }}</td>
                <td>/{{ page.url }}</td>
                <td>{{ page.include_blog }}</td>
                <td class="text-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ url_for("website.page", url=page.url) }}" class="btn" type="button">View</a>
                        <a href="{{ url_for("admin.pages.edit", id=page.id) }}" class="btn" type="button">Edit</a>
                        <a href="{{ url_for("admin.pages.delete", id=page.id) }}" class="btn btn-danger" type="button">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
